.Navknapp{
    display: "flex"; 
    height: "100vh";
}

.form_container{
    width: 30%;
}

@media screen and (max-width: 1000px) {
    .form_container{
        width: 45%;
    }
    
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }

}
.bilde{
    display: block;
    max-width: 50%;
    max-height: 20%;
    float: right;
}

.hovedside{
    color: white;
    text-align: center;
}

.hovedtext {
    color: white;
    text-align: center;
    
}
.liste{
    color: white;
    text-align: left;
    display: inline-block;
}
.listesenter{
    text-align: center;
}
