@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.Navknapp{
    height: 100%;
    background: linear-gradient(rgba(9, 9, 121, 100),
            rgba(0, 212, 255, 100));
    background-size: cover;
    background-position: center;
    display: flex;
}

.form_container{
    width: 30%;
}

@media screen and (max-width: 1000px) {
    .form_container{
        width: 45%;
    }
    
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }

}
.bilde{
    display: block;
    max-width: 50%;
    max-height: 20%;
    float: right;
}

.hovedside{
    color: white;
    text-align: center;
}

.hovedtext {
    color: white;
    text-align: center;  
}

.textBlogsLeft {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 3%;
    margin-left: 3%;
    height: 50%;
        width: 30%;
        overflow: auto;
}

.textBlogsRight {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 3%;
    margin-left: 33%;
    height: 50%;
    width: 30%;
    overflow: auto;
}

.liste{
    color: white;
    text-align: left;
    display: inline-block;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: linear-gradient(rgba(9, 9, 121, 100),
            rgba(0, 212, 255, 100));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background: whitesmoke;
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}

.button {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 150px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    transition-duration: 0.4s;
    margin: 5%;
    
}

.button2 {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 150px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    transition-duration: 0.4s;
    margin: 5%;
}

.button:hover {
background-color: #4CAF50;
    /* Green */
    color: white;
}
.button2:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}
.button-container {
    display: flex;
    justify-content: space-between;
}